@model MVCGP.Models.Semanas

@{
    ViewData["Title"] = "Editar";
}

<h4>Semanas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="KeySemana" class="control-label"></label>
                <input asp-for="KeySemana" class="form-control" disabled/>
                <span asp-validation-for="KeySemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plazoss" class="control-label"></label>
                <input asp-for="Plazoss" class="form-control" />
                <span asp-validation-for="Plazoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasaP" class="control-label"></label>
                <input asp-for="TasaP" class="form-control" />
                <span asp-validation-for="TasaP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasaN" class="control-label"></label>
                <input asp-for="TasaN" class="form-control" />
                <span asp-validation-for="TasaN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
